html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

header {
    background-color: #CBD18F;
}
body {
    margin-bottom: 60px;
    background-color: #3A6B35;
}
body {
    color: #CBD18F;
}