@page

@model SpendDollars.Pages.GraphModel
@{
    ViewData["Title"] = "Graph";   
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Investment');
          data.addColumn('number', 'Amount');


          data.addRows([
              ['Donate', 15],
              ['Eat Out', 25],
              ['Entertainment', 30],
              ['Education', 0],
              ['Vacation', 3],
              ['Shopping', 6],
              ['Party', 4],
              ['Spa', 9],
              ['Personal', 10],
              ['Hobby', 11]
          ]);

        var options = {
          title: 'My Daily Activities'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>


<h1 class="h1">How Did We Spend &#36;100 a Day?</h1>

<div id="piechart" style="width: 100%; height: 500px;"></div>

@if(Model.DBCount != null)
{
    
    <p>The Total Number of Entries is @Model.DBCount</p>
}
else
    {
        <h2>Need Data, Please Return and Fill Out Form</h2>
    }

