@page

@model SpendDollars.Pages.GraphModel
@{
    ViewData["Title"] = "Graph";   
}



<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    <script type="text/javascript">


        
   

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
          var average = [];
        
          var data = new google.visualization.DataTable();
              data.addColumn('string', 'Investment');
              data.addColumn('number', 'Amount');
                data.addRows(10);
          fetch("/api/moneyspent")
              .then((response) => {
                  return response.json();
              })
              .then((info) => {
                  for (var i in info) {
                      average.push([i, info[i]]);
                  }
                  data.addRows(average);
                  chart.draw(data, options);
              });
          

          var options = {
          title: 'How We Spent $100',
          backgroundColor: '#3A6B35'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

          chart.draw(data, options);
      }
    </script>
    

<h1 class="h1 text-center">How Did We Spend &#36;100 a Day?</h1>

<div id="piechart" class="align-content-center" style=" width: 100%; height: 500px;"></div>

@if(Model.DBCount != null)
{
    
    <p class="text-center">The Total Number of Entries is @Model.DBCount</p>
}
else
    {
        <h2 class="text-center">Need Data, Please Return and Fill Out Form</h2>
    }

