@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>How Would You Spend &#36;100 a Day?</h1>
<p>Basic needs are taken care of. This is to spend on you! You have to spend it all.</p>

<form class="">
    @foreach(var topic in IndexModel.topics)
        {
            <div class="form-row">
                <label class="col-md-1">@topic</label>
                <input type="number" min="0" max="100" step=".01" class="col-md-1">
            </div>
        }
    <button class="alert alert-primary">Submit</button>
</form>
