@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <h1 class="text-center">How Would You Spend &#36;100 a Day?</h1>
    <p class="text-center">Basic needs are taken care of. This is to spend on you! You have to spend it all.</p>
</div>
<form method="post" class="container">
    @foreach(var topic in IndexModel.topics)
        {
        string aspname = "Money." + @topic;
        <div class="row justify-content-center align-items-center">
                <div class="col-4  col-sm-3 col-md-2 p-1">
                    <label class="form-label">@topic</label>
                </div>
                <div class="col-3 col-sm-2 col-lg-1 p-1">
                    <input type="number" min="0" max="100" step=".01" class="form-control" name="@aspname" id="@aspname"  asp-for="@aspname">
                </div>
        </div>
        }
<br />
<div class="row justify-content-center">
    <div class="col-2 text-center">
        <button class="btn btn-lg btn-primary">Submit</button>
    </div>
</div>
</form>
